<div class="footer" name="footer" id="footer">
  <address>
  <strong>Contact</strong><br>
  Nein, Target 19320<br>
  <abbr title="Phone">Phone:</abbr> 0522466716<br>
  <abbr title="Email">E-mail:</abbr> mohamed.44301@hotmail.com
</address>

<address>
  <strong>Send E-mail</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>

<div class="links">
  <a href="https://github.com/MohamedOmarii" target="_blank" class="btn btn-social">
    <i class="fa fa-github" aria-hidden="true"></i>
    GitHub
  </a>
  <a href="https://www.linkedin.com/in/mohamed-omarii-225790128/" target="_blank" class="btn btn-social">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    LinkedIn
  </a>
  <a href="https://www.facebook.com/m7md.44301" target="_blank" class="btn btn-social">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    FaceBook
  </a>
</div>

<h4>Built with libraries and frameworks.</h4>
</div>
