<div class="footer" name="footer" id="address">
  <address>
  <strong>facebook,linkedin Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>

<div class="links">
  <a href="https://github.com/MohamedOmarii" target="_blank" class="btn btn-social">
    <i class="fa fa-github" aria-hidden="true"></i>
    GitHub
  </a>
  <a href="https://www.linkedin.com/in/mohamed-omarii-225790128/" target="_blank" class="btn btn-social">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    LinkedIn
  </a>
  <a href="https://www.facebook.com/m7md.44301" target="_blank" class="btn btn-social">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    FaceBook
  </a>
</div>

<h4>Built without libraries and frameworks.</h4>
</div>
