<div class="header" id="header">
  <div class="name name1 text-left text-uppercase">
    <h2><a href="#header">Mohamed Omari</a></h2>
  </div>

  <div class="a-group text-right text-uppercase">
    <ul class="list-inline text-right text-uppercase">
      <li class="list-inline-item"><a href="#projects">Projects</a></li>
      |
      <li class="list-inline-item"><a href="#about">About</a></li>
      |
      <li class="list-inline-item"><a href="#skills">Skills</a></li>
      |
      <li class="list-inline-item"><a href="#footer">Contact</a></li>
    </ul>
  </div>

    <div>
      <h3 class="mohamed text-center">Mohamed Omari</h3>
    </div>

    <div class="skills">
      <p class="text-center">Full-Stack Javascript / PHP Developer with 2+ years of experience in Web and Application Development.</p>
    </div>

</div>
