<div class="header" id="header">
  <div class="name name1 text-left text-uppercase">
    <h2><a href="#header">Mohamed Omari</a></h2>
  </div>

  <div class="a-group text-right text-uppercase">
    <ul class="list-inline text-right text-uppercase">
      <li class="list-inline-item"><a href="#projects">Projects</a></li>
      |
      <li class="list-inline-item"><a href="#about">About</a></li>
      |
      <li class="list-inline-item"><a href="#skills">Skills</a></li>
      |
      <li class="list-inline-item"><a href="#footer">Contact</a></li>
    </ul>
  </div>

    <div>
      <h3 class="mohamed text-center">Mohamed Omari</h3>
    </div>

    <div class="skills">
      <h4 class="skill text-center"><ins>Full-stack Javascript Developer</ins></h4>
      <p class="text-center">Full-stack JavaScript Developer at Founders & Coders C.I.C. Graduated from the 16 week Founders & Coders bootcamp in February 2017. Currently working on a project to create a Node, Express and MongoDB web app 'EazyNaz'</p>
      <br>
      <h4 class="skill text-center"><ins>Full-stack Php Developer</ins></h4>
      <p class="text-center">Full-stack PHP Developer at Hackeru College Graduated a year and a half
in july 2016. At the end of my studies I did a 100-hour stage project in MVC.
 </a></span></p>
    </div>

</div>
