
<div class="home">
  <div class="projects" id="project" name="projects">
    <h3 class="address text-center">Projects</h3>
    <div class="divPro1">
      <span>Click to see the project: </span>
      <a id="project1" class="project1" href="https://easynaz.herokuapp.com/" target="_blank">project EasyNaz</a>
      <p id="p-project" class="p-project">This website built with nodejs, mongoDB, express, handlebars</p>
    </div>
  </div>

  <div id="about" name="about" class="aboutDiv text-center">
    <h3 class="address">About</h3>
    <h2>Full-stack JavaScript Developer</h2>

    <p>
      לאחרונה סיימתי את מייסדי fondres&coders, מאוד סלקטיבי שישה עשר שבועות קידוד bootcamp.
    ובסוף הקורס עשיתי פרויקט לעמוטה בנצרת עם קבוצה שהיו בקורס ב NODEJS

    </p>

    <h2>Full-stack PHP Developer</h2>
    <p>
      למדתי שנה וחצי במכללת האקריו וסיימתי לימודים בסתאג של 100 שעות ואחר כך עבדתי על פרויקטים קטנים.
    </p>
  </div>

  <div id="skills" name="skills" class="SkillsDiv">
    <h3 class="address text-center">Skills</h3>
    <div class="skills">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Language</th>
              <th>Testing</th>
              <th>DataBase</th>
              <th>FrameWorks</th>
              <th>OtherSkills</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>HTML5</td>
              <td>QUnit</td>
              <td>SQL</td>
              <td>Hapi</td>
              <td>Git/GitHub</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>CSS3</td>
              <td>Tape</td>
              <td>MySql</td>
              <td>Express</td>
              <td>Heroku</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>NodeJS</td>
              <td></td>
              <td>MongoDB</td>
              <td>Handlebars</td>
              <td>TavisCI</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>PHP</td>
              <td></td>
              <td>PostgreSQL</td>
              <td>React</td>
              <td>Linux</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>JavaScript</td>
              <td></td>
              <td></td>
              <td></td>
              <td>XAMPP Apache</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
