<div class="home">
  <div class="projects" id="projects">
    <a id="project1" class="project1" href="https://easynaz.herokuapp.com/" target="_blank">project1</a>
    <p id="p-project" class="p-project">this project worked it with nodejs, mongoDB, express, handlebars</p>
  </div>

  <div id="about" class="aboutDiv text-center">
    <h3 class="about">About</h3>
    <h2>Full-stack Javascript Developer</h2>
    <p>
      I am a Full-stack JavaScript developer with a background in design. Graduated from the 16 week Founders & Coders bootcamp in Febuary 2017.

      My CV can be found here.

      I can add value to a team by providing strong design and artworking skills alongside coding. Examples of my illustration work can be found here.

      The tech for good sector is a real interest of mine. I would love to work on projects with a positive social impact, which aim to create a more equal and fair society or a more sustainable environment.
    </p>

    <h2>Full-stack PHP Developer</h2>
    <p>
      I am a Full-stack JavaScript developer with a background in design. Graduated from the 16 week Founders & Coders bootcamp in Febuary 2017.

      My CV can be found here.

      I can add value to a team by providing strong design and artworking skills alongside coding. Examples of my illustration work can be found here.

      The tech for good sector is a real interest of mine. I would love to work on projects with a positive social impact, which aim to create a more equal and fair society or a more sustainable environment.
    </p>
  </div>

  <div class="skills">
    <table border="1">
      <tr>
        <td>Language</td>
        <td>Testing</td>
        <td>DataBase</td>
        <td>FrameWorks</td>
        <td>OtherSkills</td>
      </tr>
    </table>
  </div>
</div>
